@import "tailwindcss";

@theme {
  --color-main-color: #0E2132;
  --color-secondary-color: #DEA527;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@custom-variant hover (&:hover);
@utility container {
  padding-inline: 1rem;
  margin-inline:auto;

  @variant sm {
    padding-inline: 0.5rem;
  }

  @variant md {
    padding-inline: 1rem;
  }
  @variant lg {
    padding-inline: 3rem;
  }
  @variant xl {
    padding-inline: 5rem;
  }
}

/* @font-face { */
  /* font-family: 'Noto Kufi Arabic'; */
  /* src: url('/fonts/NotoKufiArabic-VariableFont_wght.ttf') format('woff2'); */
  /* font-weight: 100 900; Range of weights in the variable font */
  /* font-display: swap; Optional for better font loading behavior */
/* } */

html{

  scroll-behavior: smooth;
}
body {
  /* font-family: 'Noto Kufi Arabic', sans-serif; */
  font-family: sans-serif;
  font-weight: 400; /* Default weight, can be changed dynamically */
}

