@import "tailwindcss";

@theme {
  --color-main-color: #0347ff;
  --color-red-color: #d64d32;
  --color-green-color: #6bce97;
  --color-gray-border: #E5E5E5;
  --color-gray-card: #EFF1F5;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@custom-variant hover (&:hover);
@utility container {
  padding-inline: 1rem;
  margin-inline: auto;

  @variant sm {
    padding-inline: 0.5rem;
  }

  @variant md {
    padding-inline: 1rem;
  }
  @variant lg {
    padding-inline: 3rem;
  }
  @variant xl {
    padding-inline: 5rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-grotesk);
}

[dir="rtl"] body {
  font-family: var(--font-ar);
}


/* Custom scrollbar for sleek look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
